body {
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #61122f;
}

.lora-500 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Header */

#header-nav {
    background-color: #f6b319;
}

#logo-img {
    background: url("../images/restaurant-logo_large.png") no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
}

.navbar-header {
    vertical-align: top;
    width: 0px;
}

.navbar-brand {
    padding-top: 50px;
}

.navbar-brand h1 { /* Restaurant name */
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 0.75;
    display: inline;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p { /* Kosher certification */
    color: #000000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 5px;
}

.navbar-brand p span { /* Star-K */
    vertical-align: middle;
}

#nav-buttons {
    padding: 0px;
}

#nav-list {
    margin-top: 10px;
    text-align: center;
}

#nav-list a {
    color: #61122f;
}

#nav-list li {
    padding: 0px 10px 0px 10px;
}

#nav-list li:hover {
    background-color: #e7e7e7;
}

#nav-list a span {
    font-size: 1.8em;
}

#nav-list li#phone {
    margin-right: -10px;
}

#phone a { /* Phone number */
    text-align: right;
    padding-bottom: 0px;
}

#phone div { /* We deliver */
    color: #557c3e;
    text-align: right;
}

button.navbar-toggler { /* Mobile dropdown menu icon outline */
    border: 1px solid #61122f;
    margin-top: 60px;
}

.navbar-toggler-icon { /* Mobile dropdown menu icon lines */
    color: #61122f;
}

#phone-mobile { /* Phone number shown on mobile site, at very top above navbar */
    background-color: #e7e7e7;
    text-align: center;
    font-size: 1.5em;
}

#phone-mobile a {
    color: #61122f;
}

/* End header */

/* Jumbotron image */

#main-content {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ================================================== */

/* Media queries */

@media (768px <= width) { /* Small or larger */

    #phone-mobile {
        display: none;
    }

}

@media (992px <= width < 1200px) { /* Medium */

    #logo-img {
        background: url("../images/restaurant-logo_medium.png") no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 10px 5px 0px;
    }

    .navbar-brand {
        padding-top: 20px;
    }

}

@media (768px <= width) and (width < 992px) { /* Small */

    #logo-img {
        background: url("../images/restaurant-logo_medium.png") no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 10px 5px 0px;
    }

    .navbar-brand {
        padding-top: 20px;
    }

    #nav-buttons {
        margin-top: 50px;
    }

}

@media (width < 768px) { /* Extra small */

    .navbar-brand {
        padding-top: 25px;
    }

    #nav-buttons #collapsable-nav #nav-list li {
        padding: 0px;
        text-align: right;
        font-size: 1.5em;
    }

    #nav-buttons #collapsable-nav li span {
        font-size: 1em;
        margin-right: 5px;
    }
    
}