body {
    font-size: 16px;
    font-family: "Oxygen", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #61122f;
}

.lora-500 {
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

/* Header */

#header-nav {
    background-color: #f6b319;
}

#logo-img {
    background: url("../images/restaurant-logo_large.png") no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0px;
}

.navbar-header {
    vertical-align: top;
    width: 0px;
}

.navbar-brand {
    padding-top: 50px;
}

.navbar-brand h1 { /* Restaurant name */
    font-family: "Lora", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 0.75;
    display: inline;
}

.navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.navbar-brand p { /* Kosher certification */
    color: #000000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 5px;
}

.navbar-brand p span { /* Star-K */
    vertical-align: middle;
}

#nav-buttons {
    padding: 0px;
}

#nav-list {
    margin-top: 10px;
    text-align: center;
}

#nav-list a {
    color: #61122f;
}

#nav-list li {
    padding: 0px 10px 0px 10px;
}

#nav-list li:hover {
    background-color: #e7e7e7;
}

#nav-list a span {
    font-size: 1.8em;
}

#nav-list li#phone {
    margin-right: -10px;
}

#phone a { /* Phone number */
    text-align: right;
    padding-bottom: 0px;
}

#phone div { /* We deliver */
    color: #557c3e;
    text-align: right;
}

button.navbar-toggler { /* Mobile dropdown menu icon outline */
    border: 1px solid #61122f;
    margin-top: 60px;
}

.navbar-toggler-icon { /* Mobile dropdown menu icon lines */
    color: #61122f;
}

#phone-mobile { /* Phone number shown on mobile site, at very top above navbar */
    background-color: #e7e7e7;
    text-align: center;
    font-size: 1.5em;
}

#phone-mobile a {
    color: #61122f;
}

/* End header */

#jumbotron { /* Jumbotron image */
    margin-top: 15px;
    margin-bottom: 15px;
}

#home-tiles div div { /* Navigation tiles */
    margin-bottom: 15px;
    position: relative;
}

#home-tiles div div a span { /* Navigation tiles text labels */
    text-transform: uppercase;
    font-size: 1.5em;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    text-align: center;
    background-color: #000000C0; /* Background mostly opaque but not entirely (RGBA) */
    color: #ffffff;
    margin-right: 12px;
    margin-left: 12px;
}

#map-embed { /* why do i have to set these. */
    width: 100%;
    height: 100%;
}

/* Footer */

footer {
    position: absolute;
    left: 0px;
    right: 0px;
    padding-top: 30px;
    background-color: #202020;
    color: #ffffff;
    padding-bottom: 20px;
}

#footer-info p {
    margin-bottom: 8px;
}

#testimonials {
    font-style: italic;
}

#delivery-disclaimer {
    font-size: 11px;
}

.footer-divider {
    color: #ffffff;
    width: 50%;
    margin: 15px auto 15px;
}

#copyright-info {
    margin-top: 20px;
}

/* ================================================== */

/* Media queries */

@media (768px <= width) { /* Medium or larger (non-collapsed layout) */

    #phone-mobile {
        display: none;
    }

}

@media (992px <= width) { /* Medium or larger (non-collapsed layout) */

    .footer-divider {
        display: none;
    }

}

@media (width < 992px) { 

    #footer-info {
        text-align: center;
    }

}

@media (992px <= width < 1200px) { /* Large */

    #logo-img {
        background: url("../images/restaurant-logo_medium.png") no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 10px 5px 0px;
    }

    .navbar-brand {
        padding-top: 20px;
    }

}

@media (768px <= width) and (width < 992px) { /* Medium */

    #logo-img {
        background: url("../images/restaurant-logo_medium.png") no-repeat;
        width: 100px;
        height: 100px;
        margin: 5px 10px 5px 0px;
    }

    .navbar-brand {
        padding-top: 20px;
    }

    #nav-buttons {
        margin-top: 50px;
    }

}

@media (width < 768px) { /* Small */

    .navbar-brand {
        padding-top: 25px;
    }

    #nav-buttons #collapsable-nav #nav-list li {
        padding: 0px;
        text-align: right;
        font-size: 1.5em;
    }

    #nav-buttons #collapsable-nav li span {
        font-size: 1em;
        margin-right: 5px;
    }
    
}